:root {
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-gray);
}

.section {
    margin: 0 auto;
    max-width: 650px;
}

.comment-window {
    margin: 0px auto;
    width: 100%;
}

.comment-body {
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px 20px;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30px;
    padding: 6px;
    border-radius: 8px;
    background-color: var(--light-gray);
}

.plus-minus {
    color: var(--grayish-blue);
}

.counter-digit {
    padding: 10px 0;
    color: var(--moderate-blue);
    font-weight: 700;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment-title-left {
    display: flex;
    align-items: center;
}

.comment-title img {
    border-radius: 50%;
    width: 30px;
}

.comment-title-right {
    display: flex;
    align-items: center;
}

.user.name {
    padding: 0 5px;
    font-weight: 700;
}

.date-update {
    padding: 0 5px;
    color: var(--grayish-blue);
    font-weight: 400;
}

.reply-container {
    font-weight: 500;
    color: var(--moderate-blue);
}

.comment-content {
    text-align: left;
    padding: 8px 8px 5px 0;
}

.replies-window {
    display: flex;
    gap: 30px;
    width: 100%;
}

.replies-content {
    height: auto;
}

.reply-window {
    height: auto;
}

.line {
    width: 20px;
    height: auto;
    margin-left: 20px;
    border-right: 3px solid var(--pale-red);
}

a {
    color: hsl(228, 45%, 44%);
}